  <!-- particles.js container -->
<div id="particles-js">
	<img src="pusher_logo_light.png">
	<p><b>98</b> viewers on Pusher.com</p>
</div>

<!-- stats - count particles -->
<div class="count-particles">
  <span class="js-count-particles">--</span> particles
</div>

<!-- particles.js lib (JavaScript CodePen settings): https://github.com/VincentGarreau/particles.js -->
  <script src='https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js'></script>
<script src='https://threejs.org/examples/js/libs/stats.min.js'></script>

    <script src="js/index.js"></script>
