  <!-- particles.js container -->
<div id="particles-js">
	<%= image_tag("pusher_logo_light.png", :alt => "Pusher") %>
	<p><b>98</b> viewers on Pusher.com</p>
</div>

<!-- stats - count particles -->
<div class="count-particles">
  <span class="js-count-particles">--</span> particles
</div>

