/* ---- reset ---- */

body {
  margin: 0;
  font:normal 75% Arial, Helvetica, sans-serif;
}

canvas {
  display: block;
  vertical-align: bottom;
}


/* ---- particles.js container ---- */

#particles-js {
  position: relative;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(120deg, #a6c0fe 0%, #f68084 100%);
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  min-width: 540px;

}

#particles-js img {
    position: absolute;
    top: 400px;
    left: 400px;

    max-width:540px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    vertical-align: center;
    z-index: 20
}

#particles-js p {
  position: absolute;
  bottom: 30px;
  right: 40px;

  color:  #fff;
  font-size: 20px;
  font-weight: 500;
  line-height: 0.7
  transition: opacity .8s;
}

/* ---- stats.js ---- */

.count-particles{
  background: #000022;
  position: absolute;
  top: 48px;
  left: 0;
  width: 80px;
  color: #13E8E9;
  font-size: .8em;
  text-align: left;
  text-indent: 4px;
  line-height: 14px;
  padding-bottom: 2px;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
}

.js-count-particles{
  font-size: 1.1em;
}

#stats,
.count-particles{
  -webkit-user-select: none;
}

#stats{
  border-radius: 3px 3px 0 0;
  overflow: hidden;
}

.count-particles{
  border-radius: 0 0 3px 3px;
}